data/
!configs/data
experiments/
__pycache__/
wandb/
vis_tmp/
models/
logs/
*.png
*.zip
*.avi
cmp
records
*.log
configs/c3vd/mass_exps
*.npy
*.mp4

notes.txt
playground.ipynb
.vscode
*.tar.gz

slurm_outputs/